nav li{
    display: inline-block;
    padding:0px 15rem;
}
nav li a{
    text-decoration: none;
    color: #000000;
    font-size: 1.5rem;
    font-weight: bold;
}

#foto{
    width: 150px;
    height: 150px;
    border-radius: 30%;
    border: 2px solid #8397E6;
}
#primerDiv{
    margin-top: 2%;
}

table button{
    background-color: #0f5cb4b4;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
}
table button:hover{
    background-color: #0f5cb4;
    transform: translateY(-3px);
}

table td {
    text-align: center;
    vertical-align: middle;
}
table{
    border: 2px solid #8397E6;
}

table td img:hover{
    transform: translateY(-3px);
}
table th{
    text-align: center;
    vertical-align: middle;  
}

div ul a{
    text-decoration: none;
}
div ul a:hover{
    text-decoration: underline  ;
}

nav li a{
    color: white;
}